<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Compiled and minified Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- jQuery first, then Materialize JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <!-- Compiled and minified Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
        <title>Cool Youtube Downloader</title>
    </head>
    <body>

        <h2>Cool Youtube Downloader</h2>
        <div class="input-field">
          <input placeholder="Enter Youtube Link Here" id="link" type="text">
        </div>
        <button type="button" class="btn waves-effect waves-light deep-orange" onclick="options()">Fetch</button>
    
        <script>
            function options() {
                var link = $('#link').val();
                console.log(link);
                window.location = '/options?link=' + encodeURIComponent(link);
            }
        </script>
        <style>
            body {
                display: flex;
                flex-flow: column;
                align-items: center;
                margin: 20px
            }
            .input-field {
                width: 50%;
            }
            .input-field > input {
                text-align: center;
            }
            input:focus {
                border-bottom: 1px solid #ff5722 !important;
                box-shadow: 0 1px 0 0 #ff5722 !important;
            }
        </style>
    </body class="categories">
</html>
